src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
    <flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="cac9424b-e614-4b74-aaae-09f6b75c2804" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="c2a5398a-3bc2-4811-b12d-20d6906cd914" message='transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Started register covid case flow", payload: #[payload]'/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="30dbe37a-0442-481d-8736-a86ac69716a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "yyyy-MM-dd" }
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-covid-case-subflow" doc:id="a74fbae8-9cc6-436e-8bb5-1bc9b0b837fe" name="insert-covid-case-sub-flow"/>
		<db:select doc:name="Select the latest CASE_ID" doc:id="2488ba10-27d1-435a-9789-9105dada7e6a" config-ref="Uhub_Database_Config">
			<db:sql ><![CDATA[select max(CASE_ID) as CASE_ID  from cvd_case_master;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Set Success Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	caseID: payload[0].CASE_ID as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="a7be9d30-6ce7-4720-8d58-acf0bcb834cd" message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed register covid case flow, payload: #[payload]&quot;'"/>
    
    </flow>
	</mule>
